<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Dish</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">

</head>
<body>

<div class="h2 text-center" style="color: darkred">
    <h1>[[${pageTitle}]]</h1>
</div>
<form th:action="@{'/dishes/save'}"  method="post" style="max-width: 500px; margin: 0 auto" >

    <div class="border border-secondary p-4 rounded">
        <div class="form-group row">

            <label class="col-sm-4">Name</label>
            <div class="col-sm-8 mb-3">
                <input class="form-control" type="text" th:field="*{dish.name}" th:value="${dish.name}" th:readonly="true">
            </div>

            <div class="col-sm-8 mb-3">
                <input class="form-control" type="hidden" th:field="*{dish.id}" th:value="${dish.id}" th:readonly="true">
            </div>


            <table class="mb-4">
                <tr>
                    <td>Select type</td>
                    <td>
                        <select required th:field="*{dish.description}">
                            <option value="none"> --</option>
                            <option value="Vegetarian"> Vegetarian</option>
                            <option value="None-Vegetarian"> Non-Vegetarian</option>
                        </select>
                    </td>
                </tr>

            </table>


        </div>

        <div class="col-sm-3">

            <button class="btn btn-outline-success" type="submit">Add Ingredient</button>
        </div>
    </div>
    <a class="h4" th:href="@{/dishes}">Cancel</a>
</form>
</body>
</html>