<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Of The Week</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" type="text/css"/>
</head>
<body>
<div class="border border-secondary p-4 rounded" style="color: green" >

<div class='img-fluid w-100' style="background-image:
url('https://media.istockphoto.com/photos/food-backgrounds-table-filled-with-large-variety-of-food-picture-id1155240408?k=20&m=1155240408&s=612x612&w=0&h=Zvr3TwVQ-wlfBnvGrgJCtv-_P_LUcIK301rCygnirbk='); height: 100vh;
background-repeat: no-repeat; background-position: center;

">

    <div class="container-fluid text-center">

        <div class="h2" style="color: green;font-family: fantasy">Manage Menu</div>

        <div>
            <a class="btn btn-outline-success" th:href="@{/dishes/startpage}">Go To Menu</a>
        </div>
    </div>
</div>
</div>
</body>

</html>