<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Of The Week</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" type="text/css"/>
</head>
<body>
<div style="background-image: url('https://storage.googleapis.com/consultified_media/production/images/profiles/1645731194.png'); height: 800px;
">

    <div class="container-fluid text-center">

        <div class="h2">Manage Menu</div>

        <div>
            <a class="btn btn-outline-success" th:href="@{/dishes/startpage}">Go To Menu</a>
        </div>
    </div>
</div>

</body>

</html>