<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Of The Week</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" type="text/css"/>
</head>
<body >

<div class="border border-secondary p-4 rounded" style="color: green">

    <div class='img-fluid w-100' style="background-image:
url('https://images.ctfassets.net/yixw23k2v6vo/5OZGZszGbFo5APapA4secB/90705bcb11e7e5d5b35c590171f8c02c/iStock-1131794876.jpg'); height: 100vh;
background-repeat: no-repeat; background-position: center;
max-width: 100%">


        <div class="border border-secondary p-4 rounded opacity-75"
             style="background-color: snow; max-width: 400px; margin: 0 auto">
            <div class="container-fluid text-center">

                <div class="h2" style="color: green;font-family: fantasy">Manage Menu</div>

                <div>
                    <a class="btn btn-outline-success" th:href="@{/dishes/startpage}">Go To Menu</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>