<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
</head>
<body>

<div class="h2 text-center">[[${pageTitle}]]</div>
<form th:action="@{'/ingredients/save/' + ${dish.id}}" method="post"  style="max-width: 500px; margin: 0 auto" >

    <div class="border border-secondary p-4 rounded">
        <div class="form-group row">

            <div class="col-sm-8 mb-3">
                <label class="col-sm-3">Name</label>
              <input type="text" required th:field="*{ingredient.ingredientName}" class="form-control"/>
            </div>

            <div class="mb-3">
                <label class="col-sm-3"></label>
                <button class="btn btn-outline-success" type="submit">Save Ingredient</button>
            </div>

            <div>
                <table class="table table-bordered">
                    <thead class="table-light">
                    <tr>
                        <th> Selected ingredients </th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="i : ${dish.getIngredients()}">
                        <tr>
                            <td th:text="${i.ingredientName}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

    <a class="btn btn-outline-success col-sm-4" th:href="@{/dishes}">Done</a>

        </div>
    </div>
</form>
</body>
</html>