<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
</head>
<body>

<div class="h2 text-center">[[${pageTitle}]]</div>
<form th:action="@{/ingredients/save}" method="post" style="max-width: 500px; margin: 0 auto" >

   <input type="hidden" th:field="*{ingredient.id}"/>

    <div class="border border-secondary p-4 rounded">
        <div class="form-group row">

            <div class="col-sm-8 mb-3">
                <label class="col-sm-3">Name</label>
              <input type="text" required th:field="*{ingredient.name}" class="form-control"/>
            </div>

            <div>
                <label class="col-sm-3"></label>
                <button class="btn btn-outline-success" type="submit">Save Ingredient</button>
            </div>

    <a class="h4" th:href="@{/dishes/new}">Cancel</a>

        </div>
    </div>
</form>
</body>

</html>