<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingredients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" type="text/css"/>
</head>
<body>
<div class="container-fluid text-center">

    <div class="h2">Ingredients</div>
</div>
<div>
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="ingredient : ${ingredientList}">
            <tr>
                <td th:text="${ingredient.ingredientId}"></td>
                <td th:text="${ingredient.ingredientName}"></td>

            </tr>

        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>