<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Of The Week</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" type="text/css"/>
</head>
<body>
<div class="container-fluid text-center">

    <div class="h2">Manage Menu</div>

    <div class="m-3">

        <a class="h4" th:href="@{/dishes/new}">Add New Dish</a>

    </div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <form th:action="@{/dishes}" method="get">
        <input class="rounded m-3" type="text" name="keyword">
        <button class="btn btn-outline-success" type="submit">Search</button>

    </form>




    <!--                <input class="form-control" type="text" th:value="">-->



    <div>
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Likes</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Like</th>
                <th>View ingredients</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="dish : ${dishList}">
                <tr>
                    <td th:text="${dish.id}"></td>
                    <td th:text="${dish.name}"></td>
                    <td th:text="${dish.description}"></td>
                    <td th:text="${dish.likes}"></td>
                    <!--                    <td th:text="${dish.ingredients}"></td>-->

                    <!-- <td th:text="${user.roles}"></td> dishes.ingredients-->
                    <td><a class="h4 m-3" th:href="@{'/dishes/edit/' + ${dish.id}}">Edit</a></td>
                    <td><a class="h4 m-3" th:href="@{'/dishes/delete/' + ${dish.id}}">Delete</a></td>
                    <td><a class="h4 m-3" th:href="@{'/dishes/like/' + ${dish.id}}">Like</a></td>
                    <td><a class="h4 m-3" th:href="@{'/dishes/view ingredients/' + ${dish.id}}">View ingredients</a></td>


                </tr>

            </th:block>
            </tbody>
        </table>

    </div>
</div>


</body>


</html>