<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:height="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu Of The Week</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" type="text/css"/>
</head>
<body>
<div class='img-fluid w-100' style="background-image:
url('https://thumbs.dreamstime.com/z/frame-fruits-vegetables-isolated-copyspace-like-apples-oranges-47271524.jpg'); height: 100vh;
background-repeat: no-repeat; background-position: center;
max-width: 1250px;
height: 1300px">
<div>

    <div class="container-fluid p-4">
        <div style="color: green;font-family: fantasy" class="h2  text-center"> Dish Menu</div>
    </div>


    <div class="container-fluid p-4 row row-cols-12 mb-4">
        <div class="ps-md-5 col-2 offset-4">
            <a class="h4 btn btn-outline-dark" th:href="@{/dishes/new}">Add New Dish</a>
        </div>
        <div class="col-2">
            <a class="h4 btn btn-outline-dark" th:href="@{/dishes/menu}"> Menu Of The Week</a>
        </div>
        <div class="col-2">
            <a class="h4 btn btn-outline-dark" th:href="@{/dishes/orders}"> View Your Orders</a>
        </div>
    </div>
</div>

    <div th:if="${message}" class="alert alert-success text-center"> ${message} </div>

    <div class="mb-4 text-center opacity-75">
    <h3 style="color: green;font-family: fantasy"> Dishes </h3>
</div>

<div class="text-center mb-3">
    <form th:action="@{/dishes}" method="get">
        <input class="rounded m-1" type="text" name="keyword">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
</div>


<div class="container-fluid text-center opacity-75">

    <div style="background-color: snow">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Likes</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Like</th>
                <th>View ingredients</th>
                <th>Add to orders</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="dish : ${dishList}">
                <tr>
                    <td th:text="${dish.id}"></td>
                    <td th:text="${dish.name}"></td>
                    <td th:text="${dish.description}"></td>
                    <td th:text="${dish.likes}"></td>

                    <td><a class="h4 m-3 btn btn-warning" th:href="@{'/dishes/edit/' + ${dish.id}}">Edit</a></td>
                    <td><a class="h4 m-3 btn btn-danger" th:href="@{'/dishes/delete/' + ${dish.id}}">Delete</a></td>
                    <td><a class="h4 m-3 btn btn-success" th:href="@{'/dishes/like/' + ${dish.id}}">Like</a></td>
                    <td><a class="h4 m-3 btn btn-info" th:href="@{'/dishes/view ingredients/' + ${dish.id}}">View
                        ingredients</a></td>
                    <td><a class="h4 m-3 btn btn-dark" th:href="@{'/dishes/add to orders/' + ${dish.id}}">Add to orders</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>