<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Menu</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" type="text/css"/>
</head>
<body>
<br/>
<div class="container-fluid text-center p-4 mb-3">
    <h4> Choose a Menu of the Week</h4>
</div>

<div>
    <div th:if="${message}" class="alert alert-success text-center"> [[${message}]] </div>

<div class="container-fluid row row-cols-12 text-center">
    <div class="col-2">
        <a class="h4 btn btn-outline-dark " th:href="@{/dishes/menu/random}">Menu Of The Week Random</a>
    </div>
    <br/>
    <div class="col-2  offset-1">
        <a class="h4 btn btn-outline-dark" th:href="@{/dishes/menu/vegetarian}">Menu Of The Week Vegetarian</a>
    </div>
    <br/>
    <div class="col-2 offset-2">
        <a class="h4 btn btn-outline-dark" th:href="@{/dishes/menu/non-vegetarian}">Menu Of The Week Non-Vegetarian</a>
    </div>
    <br/>
    <div class="col-2 offset-1">
        <a class="h4 btn btn-outline-dark" th:href="@{/dishes/menu/popular}">Menu Of The week Popular</a>
    </div>
</div>
</div>
</body>
</html>